<template name="flashcards">
    {{> copyCard}}
    {{> deleteCardForm}}
    {{> cardSettingsModal}}
    {{> cardModalBeolingusTranslation}}
    {{> cardModalDeepLTranslation}}
    <div class="card-container">
        {{#unless isMobilePreviewActive}}
            {{#unless isCardsetAndFixedSidebar}}
                {{> flashcardSidebar}}
            {{/unless}}
        {{/unless}}
        <div id="cardCarousel" class="carousel slide" data-keyboard="false" data-interval="false">
            <div class="carousel-inner">
                {{#if is3DActive}}
                    {{> flashcardsCarouselContent3D}}
                {{else}}
                    {{> flashcardsCarouselContent}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="flashcardsCarouselContent">
    {{#each getCards}}
        {{> cardSide setCardStatus}}
    {{/each}}
</template>

<template name="flashcardsCarouselContent3D">
    {{#each getCards}}
        {{#if isActiveCard}}
            {{> cardCube setCardStatus}}
        {{else}}
            {{> cardSide setCardStatus}}
        {{/if}}
    {{/each}}
</template>

<template name="flashcardsEmpty">
    <div class="card-container">
        <div>
            <div id="cardCarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="box flashcard emptyCard">
                            {{#if isActiveRoute 'box'}}
                                {{#if gotLeitnerWorkload}}
                                    <h4>{{_ "bonus.message.learnedEverything"}}</h4>
                                {{/if}}
                            {{/if}}
                            {{#if isActiveRoute 'memo'}}
                                {{#if gotWozniakWorkload}}
                                    <h4>{{_ "wozniak.empty.text"}}</h4>
                                {{/if}}
                            {{/if}}
                            {{> learnBackButton}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="flashcardsEnd">
    <div class="card-container">
        <div>
            <div id="cardCarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="box flashcard emptyCard">
                            {{#if isActiveRoute 'box'}}
                                <h4>{{getNextCardTime}}</h4>
                            {{/if}}
                            {{#if isActiveRoute 'memo'}}
                                <h4>{{_ "wozniak.endscreen.text"}}</h4>
                            {{/if}}
                            {{> learnBackButton}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="cardSubject">
    {{#if gotBonusTranscript}}<a class="cardHeaderLink"
                              href="{{#unless isEditMode}}/cardset/{{getBonusLecture}}{{/unless}}">{{getSubject}}</a>{{else}}{{#unless this.subject}}
        <span class="subjectPlaceholder">{{getSubject}}</span>{{else}}{{getSubject}}{{/unless}}{{/if}}
</template>
